body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    margin: 0 5vw;
}

main .movies {
    height: 100vh;
    width: 100%;
}

main .movies .all-movies {
    padding-top: 6rem;
}

main .all-movies .each-movie {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .each-movie button {
    padding: .7rem 2rem;
    background: red;
    margin: .5rem;
    color: white;
    font-size: 18px;
    font-weight: 600;
}