body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    margin: 0 5vw;
}

main .search-section {
    text-align: center;
}

main .search-section input{
    height: 3rem;
}

main .movies .all-movies {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
}

main .all-movies .each-movie {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .all-movies .each-movie p {
    font-size: 20px;
    font-weight: 800;
}

button {
    padding: .7rem 2rem;
    background: red;
    margin: .5rem;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

@media only screen and (max-width: 768px){
    main .movies .all-movies {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }
}

@media only screen and (max-width: 500px){
    main .movies .all-movies {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
}